<mat-toolbar class="matero-toolbar">
  <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>

  <span class="flex-fill"></span>

  <app-notification class="hide-small"></app-notification>

  <!-- <app-translate></app-translate> -->

  <button mat-icon-button class="hide-small" (click)="toggleSidenavNotice.emit()">
    <mat-icon>list</mat-icon>
  </button>

  <app-user></app-user>


</mat-toolbar>
