<breadcrumb></breadcrumb>
<div class="col-sm-6 col-md-3">
  <h2>DISPOSITIVOS</h2>
  <p>
    <mat-chip>
      Minhas Conexões<mat-icon matBadge="15" matBadgeColor="warn">sync</mat-icon>
    </mat-chip>
    <!-- <button>
    Minhas Conexões
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon></button> -->
  </p>
  <mat-card class="demo-card">
    <mat-card-header>
      <!-- <button mat-button color="primary">Primary</button> -->
    </mat-card-header>
    <!-- <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
           aria-label="Dachshund avatar"> -->
    <mat-card-content>
      <p><button mat-raised-button class="bg-green-500 text-white"><mat-icon>border_color</mat-icon>Nome Conexão</button></p>
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
           aria-label="Dachshund avatar">
    </mat-card-content>
    <mat-card-actions align="end">
    </mat-card-actions>
  </mat-card>
</div>
